.navbarsection{
    padding: 18px 0px !important;
}

.main{
    background-color: white !important;
}

.main .menuitem{
    color: black !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    font-family: "Inter", sans-serif;
    position: relative;
    


}
.main .menuitem:hover{
    color: rgb(14, 131, 234) !important;
}




.main .listitem{
    gap: 32px !important;
    
}

.main .btn{
    background-color: black!important;
    padding: 8px 20px !important;
    border-radius: 0px !important;
    margin-left: 32px !important;
    font-size: 17px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    border: none;

}
.main .btn:hover{
    background-color: rgb(14, 131, 234) !important;

}


/* Navbar part end */
.awmain{
    padding: 64px 0px;
}
.awbtn{
    background-color: black!important;
    padding: 8px 20px !important;
    border-radius: 0px !important;
    font-size: 17px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: white;
    border: none;

}

.awbtn:hover{
   background-color: rgb(14, 131, 234) !important;
   margin: 0px;
}


.awmain h1{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 56px;
    width: 545px;
    line-height: 125%;
}

.awmain p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 555px;
    line-height: 125%;
    padding: 24px 0px;
}

.awmain .className{
    width: 100%;
}


/* awsome part end */
.team-part{
    padding: 64px 0px;
}

.team-part h2{
   font-family: "Inter", sans-serif;
   font-weight: 700;
   font-size: 32px;

}
.team-part .team-heading p{
   font-family: "Inter", sans-serif;
   font-weight: 400;
   font-size: 16px;
   width: 530px;
   display: inline-block;
   

}

.team-part .team-heading{
    text-align: center;
    
}
/*  */



.team-part .main-card{
    width: 300px !important;
}

.team-part .card-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-top: 64px;
}